
.glitch {
     color: white;
     font-family: "Gugi",cursive;
     text-align: center;
     font-size: 120px;
     margin: 0 auto;
     width: 400px;
     height: 200px;
   }

   /* Real glitch effect */
   .glitch {
     position: relative;
   }

   .glitch:after {
     animation: glitch-animation 2s infinite linear alternate-reverse;
     background: black;
     clip: rect( 0, 900px, 0, 0 );
     color: white;
     content: attr( data-text );
     left: 2px;
     overflow: hidden;
     position: absolute;
     text-shadow: -1px 0 red;
     top: 0;
   }
   .glitch:before {
     animation: glitch-animation-2 3s infinite linear alternate-reverse;
     background: black;
     clip: rect( 0, 900px, 0, 0 );
     color: white;
     content: attr( data-text );
     left: -2px;
     overflow: hidden;
     position: absolute;
     text-shadow: 1px 0 blue;
     top: 0;
   }
   /* Expanded Animations */
   @keyframes glitch-animation {
     0% {
       clip: rect(2px, 999px, 144px, 0);
     }
     5% {
       clip: rect(12px, 9999px, 1519px, 0);
     }
     10% {
       clip: rect(8px, 999px, 29px, 0);
     }
     15.0% {
       clip: rect(42px, 9999px, 373px, 0);
     }
     20% {
       clip: rect(3px, 9999px, 2117px, 0);
     }
     25% {
       clip: rect(4px, 9999px, 4155px, 0);
     }
     30.0% {
       clip: rect(86px, 999px, 73px, 0);
     }
     35% {
       clip: rect(0px, 9999px, 205px, 0);
     }
     40% {
       clip: rect(26px, 9999px, 611px, 0);
     }
     45% {
       clip: rect(5px, 9999px, 6px, 0);
     }
     50% {
       clip: rect(7px, 9999px, 981px, 0);
     }
     55.0% {
       clip: rect(5px, 9999px, 6px, 0);
     }
     60.0% {
       clip: rect(8px, 9999px, 3px, 0);
     }
     65% {
       clip: rect(4px, 9999px, 2113px, 0);
     }
     70% {
       clip: rect(28px, 9999px, 9211px, 0);
     }
     75% {
       clip: rect(4px, 9999px, 6122px, 0);
     }
     80% {
       clip: rect(3px, 9999px, 85px, 0);
     }
     85.0% {
       clip: rect(4px, 9999px, 4121px, 0);
     }
     90% {
       clip: rect(45px, 9999px, 47px, 0);
     }
     95% {
       clip: rect(7px, 9999px, 1112px, 0);
     }
     100% {
       clip: rect(4px, 9999px, 1px, 0);
     }
   }
   @keyframes glitch-animation-2 {
     0% {
       clip: rect(5px, 9999px, 10px, 0);
     }
     5% {
       clip: rect(5px, 9999px, 7px, 0);
     }
     10% {
       clip: rect(79px, 9999px, 8px, 0);
     }
     15.0% {
       clip: rect(7px, 9999px, 5px, 0);
     }
     20% {
       clip: rect(7px, 9999px, 6px, 0);
     }
     25% {
       clip: rect(14px, 9999px, 9px, 0);
     }
     30.0% {
       clip: rect(1px, 9999px, 6px, 0);
     }
     35% {
       clip: rect(6px, 9999px, 3px, 0);
     }
     40% {
       clip: rect(23px, 9999px, 8px, 0);
     }
     45% {
       clip: rect(5px, 9999px, 2px, 0);
     }
     50% {
       clip: rect(1px, 9999px, 5px, 0);
     }
     55.0% {
       clip: rect(2px, 9999px, 4px, 0);
     }
     60.0% {
       clip: rect(0px, 9999px, 16px, 0);
     }
     65% {
       clip: rect(9px, 9999px, 0px, 0);
     }
     70% {
       clip: rect(4px, 9999px, 62px, 0);
     }
     75% {
       clip: rect(2px, 9999px, 8px, 0);
     }
     80% {
       clip: rect(7px, 9999px, 7px, 0);
     }
     85.0% {
       clip: rect(3px, 9999px, 27px, 0);
     }
     90% {
       clip: rect(6px, 9999px, 5px, 0);
     }
     95% {
       clip: rect(4px, 9999px, 7px, 0);
     }
     100% {
       clip: rect(3px, 9999px, 9px, 0);
     }
   }
