
.array {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 100px;
  color:#ffffff;
  opacity: .9;
  background-blend-mode: overlay;
}

.array:hover {
  text-shadow: -10px 10px 0px #e775ff,
                -20px 20px 0px #7954ff,
                -30px 30px 0px #0b30c1,
                -40px 40px 0px #005e54;
transition: 800ms;
}
